---
import {Button} from "./ui/button";
---

<div class="flex p-10 justify-center">
    <nav>
        <ul class="flex gap-6 justify-center">
            <li>
                <Button variant="outline">Home</Button>
            </li>
            <li>
                <Button variant="outline">Chat</Button>
            </li>
        </ul>
    </nav>
</div>


