---
import {Button} from "./ui/button";
---

<div class="flex py-5 justify-center">
    <nav>
        <ul class="flex gap-6 justify-center">
            <li>
                <Button className="text-3xl font-semibold font-logo" variant="ghost">Chatty</Button>
            </li>
        </ul>
    </nav>
</div>


